name: Novius CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint-php:

    runs-on: ubuntu-latest

    steps:
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Laravel Nova
        run: composer config http-basic.nova.laravel.com ${NOVA_USERNAME} ${NOVA_LICENSE_KEY}
        env:
          NOVA_USERNAME: ${{ secrets.NOVA_USERNAME }}
          NOVA_LICENSE_KEY: ${{ secrets.NOVA_LICENSE_KEY }}

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: vendor
          key: composer-${{ hashFiles('composer.lock') }}

      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Lint PHP code via Laravel Pint
        run: composer run-script lint

  test-app:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        operating-system: ['ubuntu-latest']
        php-versions: ['8.2', '8.3', '8.4', '8.5']
        laravel: [ 10.*, 11.*, 12.* ]
        nova: [ 4.*, 5.* ]
        include:
          - laravel: 12.*
            carbon: 3.*
            testbench: 10.*
            larastan: 3.*
          - laravel: 11.*
            carbon: 2.*
            testbench: 9.*
            larastan: 3.*
          - laravel: 10.*
            carbon: 2.*
            testbench: 8.*
            larastan: 2.*
        exclude:
          - php-versions: '8.5'
            nova: 4.*

    name: test - P${{ matrix.php-versions }} - L${{ matrix.laravel }} - N${{ matrix.nova }}

    steps:
    - uses: shivammathur/setup-php@v2
      with:
          php-version: ${{ matrix.php-versions }}

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Laravel Nova
      run: composer config http-basic.nova.laravel.com ${NOVA_USERNAME} ${NOVA_LICENSE_KEY}
      env:
        NOVA_USERNAME: ${{ secrets.NOVA_USERNAME }}
        NOVA_LICENSE_KEY: ${{ secrets.NOVA_LICENSE_KEY }}

    - name: Cache composer dependencies
      uses: actions/cache@v3
      with:
        path: vendor
        key: composer-${{ hashFiles('composer.lock') }}

    - name: Install Dependencies
      run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "nesbot/carbon:${{ matrix.carbon }}" "laravel/nova:${{ matrix.nova }}" "orchestra/testbench:${{ matrix.testbench }}" "larastan/larastan:${{ matrix.larastan }}" --no-interaction --no-update
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --ignore-platform-reqs

    - name: Run tests
      run: composer test

  phpstan:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        operating-system: ['ubuntu-latest']
        php-versions: ['8.2', '8.3', '8.4', '8.5']
        laravel: [ 10.*, 11.*, 12.* ]
        nova: [ 4.*, 5.* ]
        include:
          - laravel: 12.*
            carbon: 3.*
            testbench: 10.*
            larastan: 3.*
          - laravel: 11.*
            carbon: 2.*
            testbench: 9.*
            larastan: 3.*
          - laravel: 10.*
            carbon: 2.*
            testbench: 8.*
            larastan: 2.*
        exclude:
          - php-versions: '8.5'
            nova: 4.*

    name: phpstan - P${{ matrix.php-versions }} - L${{ matrix.laravel }} - N${{ matrix.nova }}

    steps:
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: vendor
          key: composer-${{ hashFiles('composer.lock') }}

      - name: Login to Laravel Nova
        run: composer config http-basic.nova.laravel.com ${NOVA_USERNAME} ${NOVA_LICENSE_KEY}
        env:
          NOVA_USERNAME: ${{ secrets.NOVA_USERNAME }}
          NOVA_LICENSE_KEY: ${{ secrets.NOVA_LICENSE_KEY }}

      - name: Install Dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "nesbot/carbon:${{ matrix.carbon }}" "laravel/nova:${{ matrix.nova }}" "orchestra/testbench:${{ matrix.testbench }}" "larastan/larastan:${{ matrix.larastan }}" --no-interaction --no-update
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --ignore-platform-reqs

      - name: PHPStan Static Analysis
        run: composer run-script phpstan
